@model BlackJack.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}




<div class="field">

</div>

<div class="container text-center">
    <div class="text-center col-md-2">
        <p class="Score">@Model.Player.Score</p>
        <p><img src="#" alt="PlayerIcon" /></p>
        <h4>@Model.Player.Name</h4>
    </div>
    @foreach (var a in Model.Bots)
    {
        <div class="text-center col-md-2">
            <p class="Score">@a.Score</p>
            <p><img src="#" alt="BotIcon" /></p>
            <h4>@a.Name</h4>
        </div>
    }

</div>

<div class="text-center dealer">
    <h4>@Model.Dealer.Name</h4>
    <p><img src="#" alt="DealerIcon" /></p>
    <p class="Score">@Model.Dealer.Score</p>

</div>


<div class="ControlBar text-right">
    <button id="Deal">Deal the cards</button>
    <button id="Take">Take</button>
    <button id="Stop">Stop</button>
</div>


<script>
    var CardArray = @Html.Raw(Json.Encode(Model.Cards));
    var Player = @Html.Raw(Json.Encode(Model.Player));
    var Dealer = @Html.Raw(Json.Encode(Model.Dealer));
    var BotArray = @Html.Raw(Json.Encode(Model.Bots));

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function GetCard() {
        return CardArray[getRandomInt(0,51)]
    }

   

    //first deal
    $(function () {
        $('#Deal').on('click', function () {
            $('.Score').each(function (i) {
                var FirstCard = GetCard();
                var SecondCard = GetCard();
                alert(FirstCard.Name + " " + FirstCard.Suit + " " + SecondCard.Name + " " + SecondCard.Suit);
                $(this).html(+FirstCard.Value + SecondCard.Value);
            });

        });
    });

    //Add Card
    $(function () {
        $('#Take').on('click', function (){
            var Card = GetCard();
            var value = $('.Score').eq(0).html();

            alert(Card.Name + " " + Card.Suit);

            $('.Score').eq(0).html(+value + Card.Value);
        });
    });


    //Stop Button
    $(function () {
        $('#Stop').on('click', function () {
            for (var i = 1; i <= BotArray.length + 1; i++){

                while($('.Score').eq(i).html() < 16) {
                    var Card = GetCard();
                    var value = $('.Score').eq(i).html();

                    alert(Card.Name + " " + Card.Suit);

                    $('.Score').eq(i).html(+value + Card.Value);
                }
        }
        });
    });

</script>
