@model BlackJack.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}


<div class="field">

</div>
@Model.PlayerName

@Model.GameNumber

@Model.RoundNumber

@foreach(var a in Model.PlayerName)
{
<p>a</p>
}






@*<script>
    

    var CardArray = @Html.Raw(Json.Encode(Model.Cards));
    var Player = @Html.Raw(Json.Encode(Model.Player));
    var Dealer = @Html.Raw(Json.Encode(Model.Dealer));
    var BotArray = @Html.Raw(Json.Encode(Model.Bots));
    var Winner = @Html.Raw(Json.Encode(Model.Winner));
    var Bool = false;


    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function GetCard() {
        return CardArray[getRandomInt(0,51)]
    }


    function FindBlackJack() {
        var playerScore = $('.Participant').first().children('.Score').html();
        var dealerScore = $('.Participant').last().children('.Score').html();

        if (playerScore == dealerScore && playerScore == 21) {
            alert("!")
            Winner = "Draw"
            BotLogic();
        }
        if (playerScore == 21) {
            alert(Player.Name + " - BlackJack!");
            Winner = Player.Name;
            BotLogic();
        }
        if (playerScore > 21) {
            alert(Player.Name + " - To Much");
            BotLogic();
        }
        if (dealerScore == 21) {
            alert(Dealer.Name + " - BlackJack!");
            Winner = Dealer.Name;
            BotLogic();
        }
        //if (playerScore > dealerScore && playerScore < 21) {
        //    Winner = Player.Name;
        //    alert(Player.Name + " - Win!");
        //}
        //if (playerScore < dealerScore && dealerScore < 21) {
        //    Winner = Dealer.Name;
        //    alert(Dealer.Name + " - Win!")
        //}

    }

    function BotLogic() {
        if (Bool = true) {
            for (var i = 1; i <= BotArray.length + 1; i++) {
                while ($('.Score').eq(i).html() < 17) {
                    var Card = GetCard();
                    var value = $('.Score').eq(i).html();
                    var Hand = $('.Hand').eq(i).html();

                    $('.Hand').eq(i).html(Hand + ", " + Card.Name + " " + Card.Suit);
                    if (value >= 11 && Card.Value == 11) {
                        $('.Score').eq(i).html(+value + Card.Value - 10);
                    }
                    else {
                        $('.Score').eq(i).html(+value + Card.Value);
                    }
                }

            }
        }
    }

    function addHands(count, card) {
        if (count == 0) {
            Player.Hand.push(card);
        }
        if (count == BotArray.length + 1) {
            Dealer.Hand.push(card);
        }
        if (count != 0 && count != BotArray.length + 1) {
            BotArray[count - 1].Hand.push(card);
        }
    }

  
    //first deal
    $('.Participant').each(function (i)
    {
        var FirstCard = GetCard();
        var SecondCard = GetCard();

        $(this).children('.Hand').html(FirstCard.Name + " " + FirstCard.Suit + ", " + SecondCard.Name + " " + SecondCard.Suit);
        var value = FirstCard.Value == 11 && SecondCard.Value == 1 ? +FirstCard.Value + SecondCard.Value - 10 : +FirstCard.Value + SecondCard.Value;
        $(this).children('.Score').html(value);
        //if (FirstCard.Value == 11 && SecondCard.Value == 11) {
        //    $(this).children('.Score').html(+FirstCard.Value + SecondCard.Value - 10);
        //}
        //else {
        //    $(this).children('.Score').html(+FirstCard.Value + SecondCard.Value);
        //}

        addHands(i, FirstCard);
        addHands(i, SecondCard);

    });

    FindBlackJack();

    //Add Card
    $(function () {
        $('#Take').on('click', function ()
        {
            var Card = GetCard();
            var value = $('.Score').eq(0).html();
            var Hand = $('.Hand').eq(0).html();
            $('.Hand').eq(0).html(Hand + ", " + Card.Name + " " + Card.Suit);
            if (value >= 11 && Card.Value == 11) {
                $('.Score').eq(0).html(+value + Card.Value - 10);
            }
            else {
                $('.Score').eq(0).html(+value + Card.Value);
            }
            FindBlackJack();
        });
    });

    //Stop Button
    $(function () {

        $('#Stop').on('click', function () {
            Bool = true;
            BotLogic();
        });
    });



</script>*@