@model BlackJack.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}
<div class="col-md-6"><h2 class="text-center">Game: @Model.GameNumber</h2></div>
<div class="col-md-6"><h3 class="text-center">Round: @Model.RoundNumber</h3></div>



<div class="field text-center">
    <img src="~/Content/Img/bj.jpg" style="width:75%;height:70%;" alt="Alternate Text" />
</div>



<div class="player col-md-2 Participant">
    <p class="Hand"></p>
    <p>Score: <span class="Score">@Model.Player.Properties.SingleOrDefault().Score</span></p>
    <h4>@Model.Player.Name</h4>
</div>



@foreach (var bot in Model.Bots)
{
    <div class="player col-md-2 Participant">
        <p class="Hand"></p>
        <p>Score: <span class="Score">@Model.Player.Properties.SingleOrDefault().Score</span></p>
        <h4>@bot.Name</h4>
    </div>
}
    <div class="dealer Participant text-center">
        <h4>@Model.Dealer.Name</h4>
        <p>Score: <span class="Score">@Model.Player.Properties.SingleOrDefault().Score</span></p>
        <p class="Hand"></p>
    </div>












<div class="Buttons text-right">
    <button id="First">FirstDeal</button>
    <button id="Take">TakeOne</button>
    <button id="Stop">Stop</button>
    <button id="asd">test</button>
</div>


<script>
    var model = @Html.Raw(Json.Encode(Model));
    var Bool = false;
    model.Winner = model.Player.Name;
    model.WinnerScore = 21;

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function GetCard() {
        return model.CardDeck[getRandomInt(0, 51)]
    }

    //Add Card
    $(function () {
            $('#Take').on('click', function () {
                var Card = GetCard();
                var value = $('.Score').eq(0).html();
                var Hand = $('.Hand').eq(0).html();
                $('.Hand').eq(0).html(Hand + ", " + Card.Name + " " + Card.Suit);
                value >= 11 && Card.Value == 11 ? $('.Score').eq(0).html(+value + Card.Value - 10) : $('.Score').eq(0).html(+value + Card.Value);
                model.Player.Properties[0].Score = 23
                model.Player.Properties[0].Hand[0] = Card;
            });
    });

    $(function () {
        $('#First').on('click', function () {
            $('.Participant').each(function (i  ) {
                var FirstCard = GetCard();
                var SecondCard = GetCard();
                if ($(this).children('p').children('.Score').html() == "0") {
                    $(this).children('.Hand').html(FirstCard.Name + " " + FirstCard.Suit + ", " + SecondCard.Name + " " + SecondCard.Suit);
                    var value = FirstCard.Value == 11 && SecondCard.Value == 11 ? +FirstCard.Value + SecondCard.Value - 10 : +FirstCard.Value + SecondCard.Value;
                    $(this).children('p').children('.Score').html(value);
                }              
            });

        });
    });
    //Stop Button
    $(function () {

        $('#Stop').on('click', function () {
            $('.Participant').each(function (i) { 
            
                BotLogic(i+1);
            });
        });
    });

    function BotLogic(i) {
        while ($('.Score').eq(i).html() < 17)
        {
            var Card = GetCard();
            var value = $('.Score').eq(i).html();
            var Hand = $('.Hand').eq(i).html();

            $('.Hand').eq(i).html(Hand + ", " + Card.Name + " " + Card.Suit);
            value >= 11 && Card.Value == 11 ? $('.Score').eq(i).html(+value + Card.Value - 10) : $('.Score').eq(i).html(+value + Card.Value);
           
        }
    }

 
   
   $(function () {
       $('#asd').on('click', function () {
           var players = model.Bots;
           players.push(model.Player.Properties[0].Hand);
           players.push(model.Dealer);

           Alert(model.Player.Properties[0].Hand[0]);
         


           $.get("@Url.Action("Index","History")", { RoundId: model.RoundId, Winner: model.Winner, WinnerScore: model.Player.Properties[0].Score, Players: players })

                    });
            });
  

   



</script>